#Ignore python bytecode files
*.pyc
__pycache__/
*/__pycache__/*


# Ignore log files
*.log


# Ignore .md files
*.md

# Ignore outputs folder
outputs
outputs_new/
outputs_seg/
outputs_seg_all/
dependencies/
masks/

# Ignore .egg-info
src/visual_grounding.egg-info/

# Ignore .jpg
*.jpg

#Ignore .jsonl
*.jsonl

src/visual_grounding/utils/__pycache__/prompt_loader.cpython-310.pyc