#Ignore python bytecode files
*.pyc
__pycache__/
*/__pycache__/*


# Ignore log files
*.log


# Ignore .md files
*.md

# Ignore outputs folder
outputs

# Ignore .egg-info
src/visual_grounding.egg-info/