#Ignore python bytecode files
*.pyc
__pycache__/
*/__pycache__/*


# Ignore log files
*.log


# Ignore .md files
*.md

# Ignore outputs folder
outputs
outputs_new/
outputs_seg/

# Ignore .egg-info
src/visual_grounding.egg-info/

# Ignore .jpg
*.jpg

#Ignore .jsonl
*.jsonl